<!-- <div class="row mt-3">
  <h1 class="centrar_texto">Agregar terraza</h1>
</div>

<div class="row mt-3">
   <div class="col-12">
      <div class="d-flex justify-content-center">
        <input type="text" placeholder="Ingresa nombre" class="tamanio">
      </div>
  </div>
</div>

<div class="row mt-3">
      <h3 class="centrar_texto">Direccion</h3>
      <div class="col-4">
        <div class="d-flex justify-content-center">
          <input type="text" placeholder="Calle" class="mi_input">
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-center">
          <input type="text" placeholder="Numero" class="mi_input">
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-center">
          <input type="text" placeholder="Codigo Postal" class="mi_input">
        </div>
      </div>
</div>

  <div class="row mt-3">
    <h3 class="centrar_texto">Caracteristicas</h3>
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <input type="text" placeholder="Descripcion" class="tamanio">
        </div>
      </div>
  </div>


  <div class="row mt-3">
      <div class="centrar_texto">
       <button>Guardar</button>
      </div>
    </div> -->

<h1>{{title}}</h1>
<hr>

<app-counter></app-counter>
<app-heroes-hero></app-heroes-hero>
 <app-heroes-list></app-heroes-list>

